h1 {color:red;
}

body {font-family:sans-serif;
	line-height:20px;
}

#first {color:33FF33;
}

.dates {font-style:italic; 
		font-weight:bolder;
}

li > span {color:FF0099;
}

li blockquote {background-color:C8C8C8;
}