h1 {
	color:red;
}

body {
	font-family:sans-serif;
	line-height:20px;
}

#first {
	color:green;
}

.dates {
	font-style:italic; 
	font-weight:bolder;
}

.special > li {
	color:hotpink;
}

ul blockquote {
	background-color:grey;
}